extends layout.pug

block content
	h1 Welcome to URUBUTO
	h3 Login to see Magic
	div(ng-app='theApp' ng-controller='login_ctrl' class="w3-col m3 w3-container w3-center")
		div(class="w3-container w3-teal")
			h2(class="w3-center") Login
		form(method="GET", action="/login")
			label(class="w3-text-teal") Email
			input(
				type='text'
				name='email'
				ng-model='email'
				class="w3-input w3-border w3-light-grey"
			)
			label(class="w3-text-teal") Password
			input(
				type='password'
				name='password'
				ng-model='password'
				class="w3-input w3-border w3-light-grey"
			)
			br
			button(
				class="w3-btn w3-blue-grey"
				value='Submit'
			) Login